doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CongreGeek
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    link(href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap', rel='stylesheet')
    script(src='https://code.jquery.com/jquery.js')
    script(src='./js/interests.js')
  body
    section.hero.is-success.is-fullheight
      br
      .columns
        .column
          .box
            h3#fandom-title.bd-notification.is-info.has-text-centered Pick Your Fandom!
            .columns.is-mobile
              .column
                .field
                  label.checkbox
                    input(type='checkbox' id="harryP" value="Harry Potter")
                    |                                 Harry Potter
                .field
                  label.checkbox
                    input(type='checkbox' id="marvel" value="Marvel")
                    |                                 Marvel
                .field
                  label.checkbox
                    input(type='checkbox' id="dc" value="DC")
                    |                                 DC
                .field
                  label.checkbox
                    input(type='checkbox' id="doctorWho" value="Doctor Who")
                    |                                 Doctor Who
                .field
                  label.checkbox
                    input(type='checkbox' id="gOt" value="Game Of Thrones")
                    |                                 Game of Thrones
              .column
                .field
                  label.checkbox
                    input(type='checkbox' id="supernatural" value="Supernatural")
                    |                                 Supernatural
                .field
                  label.checkbox
                    input(type='checkbox' id="disney" value="Disney")
                    |                                 Disney
                .field
                  label.checkbox
                    input(type='checkbox' id="sherlock" value="Sherlock")
                    |                                 Sherlock
                .field
                  label.checkbox
                    input(type='checkbox' id="starW" value="Star Wars")
                    |                                 Star Wars
                .field
                  label.checkbox
                    input(type='checkbox' id="anime" value="Anime")
                    |                                 Anime
        .column
          .box
            p#interests-title.bd-notification.is-danger.has-text-centered Pick Your Interests!
            .columns.is-mobile
              .column.is-centered
                .field
                  label.checkbox
                    input(type='checkbox' id="comicBooks" value="Comic Books")
                    |                                 Comic Books
                .field
                  label.checkbox
                    input(type='checkbox'id="intMovies" value="Movies")
                    |                                 Movies
                .field
                  label.checkbox
                    input(type='checkbox'id="music" value="Music")
                    |                                 Music
                .field
                  label.checkbox
                    input(type='checkbox'id="art" value="Art")
                    |                                 Art
                .field
                  label.checkbox
                    input(type='checkbox'id="videogames" value="Video Games")
                    |                                 Video Games
      .section.is-fluid
        .buttons.is-centered
          a.button.is-info.is-large.is-focused#submit Create your profile!