<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CongreGeek</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Jura&amp;display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/members.js"></script>
</head>
<nav class="navbar is-white is-fixed-top topNav">
  <div class="container">
    <div class="navbar-brand"><a class="navbar-item" href="profile"><img src="images/congregeeklogo.png" width="100" height="20"></a>
      <div class="navbar-burger burger" data-target="topNav"><span></span><span></span><span></span></div>
    </div>
    <div class="navbar-end" id="topNav">
      <div class="navbar-start"><a class="navbar-item" href="profile.html">Home</a><a class="navbar-item" href="members.html">Fellow Geeks</a><a class="navbar-item" href="messageboard.html">Geek Speak</a><a class="navbar-item" href="index.html">Log Out</a></div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="hero is-success is-fullheight"><br></section>
<div class="container is-fluid">
  <div class="columns is-multiline is-mobile"></div>
</div>