doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title CongreGeek
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', type='text/css', media='screen', href='/css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
  link(href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap', rel='stylesheet')
  script(src='https://code.jquery.com/jquery.js')
  .script(src="/js/main.js")

nav.navbar.is-white.is-fixed-top.topNav
  .container
    .navbar-brand
      a.navbar-item(href='profile')
        img(src='images/congregeeklogo.png', width='100', height='20')
      .navbar-burger.burger(data-target='topNav')
        span
        span
        span
    #topNav.navbar-end
      .navbar-start
        a.navbar-item(href='profile.html') Home
        a.navbar-item(href='members.html') Fellow Geeks
        a.navbar-item(href='messageboard.html') Geek Speak
        a.navbar-item(href='index.html') Log Out
      .navbar-end
        .navbar-item
          .field.is-grouped
            p.control
section.hero.is-success.is-fullheight
  br
.container.is-fluid
 .columns.is-multiline.is-mobile
  .column.is-one-quarter
   .box.content
    article.post
      h1#welcome-user
      .media
        .media-left
        .media-content
          .interests-content
            p  

