doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CongreGeek
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    link(href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap', rel='stylesheet')
    script(src='https://code.jquery.com/jquery.js')
  body
    section.hero.is-success.is-fullheight
      .hero-body
        .container.has-text-centered
          .column.is-4.is-offset-4
            .box
              figure.avatar
                img(src='images/congregeeklogo.png', width='275', height='275')
              p.subtitle.has-text-grey Tell us about you.
              form.signup(name='myForm')
                .field.form-group
                  .control
                    input#name-input.input.is-small(type='form-control', placeholder='Name', autofocus='', name='reqName', required='')
                .field
                  .control
                    input#username-input.input.is-small(type='form-control', placeholder='Username', name='reqUser', autofocus='')
                .field
                  .control
                    input#password-input.input.is-small(type='password', placeholder='Password', autofocus='', name='reqPassword', required='')
                .field
                  .control
                    input#email-input.input.is-small(type='form-control', placeholder='email', autofocus='', name='reqEmail', required='')
                .field
                  .control
                    input#age-input.input.is-small(type='form-control', placeholder='Age', autofocus='')
                .field
                  .control
                    input#profile-input.input.is-small(type='form-control', placeholder='Your Photo/Avatar', autofocus='')
              h4.subtitleBlack Who is your Favorite Hero/Superhero?
                .field
                  .control
                    input#hero-input.input.is-small(type='form-control', placeholder='Superman, Batman, Spiderman', autofocus='')
              h4.subtitleBlack What is your favorite Movie?
                .field
                  .control
                    input#movie-input.input.is-small(type='form-control', placeholder='Favorite Movie', autofocus='')
              h4.subtitleBlack If you could live in any fantasy world, what would it be?
                .field
                  .control
                    input#world-input.input.is-small(type='form-control', placeholder='Narnia, midgar,spira,', autofocus='')
                button#nextSubmit.button.is-block.is-info.is-medium.is-fullwidth Continue
          p#login.has-text-white
            button.button.is-info.is-medium(onclick="window.location.href = 'interests';")  Log In
            |       
.geekModal
  .myContent
    p#cardHeaderh1.card-header-title
      | Answer additional questions to continue!
    .columns.is-mobile
      .column.is-half
        .field
          label.checkbox
            input#harryP(type='checkbox' value= "Harry Potter")
            |                                 Harry Potter
        .field
          label.checkbox
            input#marvel(type='checkbox' value="Marvel")
            |                                 Marvel
        .field
          label.checkbox
            input#dc(type='checkbox' value="DC")
            |                                 DC
        .field
          label.checkbox
            input#doctorWho(type='checkbox' value="Doctor Who")
            |                                 Doctor Who
        .field
          label.checkbox
            input#gOt(type='checkbox' value="Game Of Thrones")
            |                                 Game of Thrones
      .column.is-half
        .field
          label.checkbox
            input#supernatural(type='checkbox'  value="Supernatural")
            |                                 Supernatural
        .field
          label.checkbox
            input#disney(type='checkbox' value="Disney")
            |                                 Disney
        .field
          label.checkbox
            input#sherlock(type='checkbox' value="Sherlock")
            |                                 Sherlock
        .field
          label.checkbox
            input#starW(type='checkbox' value="Star Wars")
            |                                 Star Wars
        .field
          label.checkbox
            input#anime(type='checkbox' value="Anime")
            |                                 Anime
    .column
      .box
        p#interests-title.bd-notification.is-danger.has-text-centered Pick Your Interests!
        .columns.is-mobile
          .column.is-centered
            .field
              label.checkbox
                input#comicBooks(type='checkbox' value="Comic Books")
                |                                 Comic Books
            .field
              label.checkbox
                input#intMovies(type='checkbox' value="Movies")
                |                                 Movies
            .field
              label.checkbox
                input#music(type='checkbox' value="Music")
                |                                 Music
            .field
              label.checkbox
                input#art(type='checkbox' value="Art")
                |                                 Art
            .field
              label.checkbox
                input#videogames(type='checkbox' value="Video Games")
                |                                 Video Games
    .closeButton
      button.button.is-large.is-light.close#submit(href='/members') Create your Profile

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='./js/signup.js')