

.hero {
    background: black url('/images/splashpage.jpg') center/ cover;
}

.title {
    font-family: 'Bangers', cursive;
    font-size: 70px;
}

.subtitle {
    font-family: 'Jura', sans-serif;
}

.input {
    font-family: 'Jura', sans-serif;
}

.button {
    font-family: 'Jura', sans-serif;
}

.checkbox {
    font-family: 'Jura', sans-serif;
}

.navbar-start {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.post {
    font-family: 'Jura', sans-serif;
}

#newpost {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}    

#profile-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#profile-subtitle {
    font-family: 'Jura', sans-serif;
    color: grey;
    font-size: 30px;
}

#fandom-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#interests-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#login {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#forgot {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#signup {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#backToSignUp {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}