body {
    margin: 0 auto;
    padding: 0 auto;

}

.hero {
    background-image: url('/images/splashpage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-header-title {
    padding-left: 65px;
    padding-right: 30px;
}

.cardSpecify {
    border-radius: 25px;
    margin: 20px !important;
    overflow: scroll;
    text-overflow: ellipsis;
}

.cardSpecifyMember {
    border-radius: 25px;
    margin: 20px !important;
    max-width: 300px;
    max-height: 300px;
    overflow: scroll;
}

.memberTitle {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 25px;
}

a:hover.memberLink{
color: grey;
}

.profileTitle {
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    text-transform: capitalize;
    letter-spacing: 5px;
    font-size: 35px;
}

.emailTitle {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.title {
    font-family: 'Bangers', cursive;
    font-size: 70px;
}

.subtitle {
    font-family: 'Jura', sans-serif;
}

.subtitleBlack {
    font-family: 'Jura', sans-serif;
    color: black;
    font-size: 15px;

}

.input {
    font-family: 'Jura', sans-serif;
}

.button {
    font-family: 'Jura', sans-serif;
}

.checkbox {
    font-family: 'Jura', sans-serif;
}

.navbar-start {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.post {
    font-family: 'Jura', sans-serif;
}

#newpost {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#profile-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#profile-subtitle {
    font-family: 'Jura', sans-serif;
    color: grey;
    font-size: 30px;
}

#fandom-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#interests-title {
    font-family: 'Bangers', cursive;
    color: black;
    font-size: 40px;
}

#login {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#forgot {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#signup {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

#backToSignUp {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
}

.geekModal {
    /* display: none !important;  */
    position: fixed;
    top: 50%;
    left: 50%;
    /* width: 70%; */
    overflow: scroll !important;
    transform: translate(-50%, -50%);
    background-color: rgb(241, 237, 238);
    height: 500px;
}

.myContent{
    background-color: white;
    width: 100%;
}

#cardHeaderh1 {
    width: 100%;
    height: 100%;
    font-size: 35px;
    background-color: white;
    color: black;
    font-family: 'Bangers', cursive;
    text-align: center;
    
}
.close{
    padding-bottom: 50px;
}
#cardHeaderModal {
    font-size: 25px;
    color: black;
    font-family: 'Jura', sans-serif;
    text-align: center;
    font-weight: bold;
}