doctype html
html.has-navbar-fixed-top
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title CongreGeek
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', media='screen', href='/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    link(href='https://fonts.googleapis.com/css?family=Bangers|Jura&display=swap', rel='stylesheet')
    script(src='https://code.jquery.com/jquery.js')
  body
    nav.navbar.is-white.is-fixed-top.topNav
      .container
        .navbar-brand
          a.navbar-item(href='/profile.html')
            img(src='images/congregeeklogo.png', width='100', height='20')
          .navbar-burger.burger(data-target='topNav')
            span
            span
            span
        #topNav.navbar-end
          .navbar-start
            a.navbar-item(href='profile.html') Home
            a.navbar-item(href='members.html') Fellow Geeks
            a.navbar-item(href='messageboard.html') Geek Speak
            a.navbar-item(href='index.html') Log Out
          .navbar-end
            .navbar-item
              .field.is-grouped
                p.control
    section.hero.is-success.is-fullheight
      br
      .hero-body
        .column
        .box
          .container.has-text-centered
            .columns.is-vcentered
              .column.is-5
                figure.profile-pic
                  img(src='https://d1w8c6s6gmwlek.cloudfront.net/live-tees.com/square/340/543/34054359.jpg', alt='Geek Pic')
              .column.is-6.is-offset-1
                h1#profile-title.title.is-2
                  | @BigPurpleGuy
                h2#profile-subtitle.subtitle.is-4
                  | Interests: Marvel, Comic Books, Movies
                br
        .column